<div class="page">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back"><i class="icon icon-back"></i><span class="ios-only">Back</span></a>
            </div>
            <div class="title">Not found</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block block-strong">
            <p>Sorry</p>
            <p>Requested content not found.</p>
        </div>
    </div>
</div>