<div class="page no-swipeback" data-name="changepin">

    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="right">
                <a href="/settings/" class="link icon-only"><i class="icon f7-icons">xmark_circle</i></a>
            </div>
        </div>
    </div>

    <div class="page-content login-screen-content">
        <div class="login-screen-title">New Pin Code</div>
        <form>
            <div class="block passcode-input">
                <input type="text" value="____" id="demo-numpad-inline">
            </div>
            <div class="block block-strong no-padding no-margin passcode-numpad">
                <div id="numpad-inline-container"></div>
            </div>
        </form>
    </div>
</div>