<div class="page" data-name="dashboard">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
            <div class="title">Dashboard</div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content">
        <div class="block" style="margin-top: 0">
            <div class="row">
                <div class="col-35">
                    <div class="block-title block-title-medium">Type Order number</div>
                    <div class="block" id="tastatura">
                        <form id="keyboard">
                            <input type="number" class="keypad" maxlength="10" disabled="disabled" />
                            <a id="trick" href="#"></a>
                        </form>
                        <div id="keypad"></div>
                        <button onclick="clearDashboard()" class="col button button-fill button-large color-red" id="clear" style="margin-top: 20px">clear all</button>
                        <!--<button class="col button button-fill color-green" id="searchOrder">search</button>-->
                    </div>
                </div>
                <div class="col-65">
                    <div id="despatched">
                        <div class="block-title block-title-medium">You have despatched <span class="todayOrders">0</span> orders today.</div>
                        <div class="block" style="padding-top: 24px">
                            <p><b>Nventree Pick &amp; Pack</b></p>
                            <p>Nventree has direct integration with many couriers, utilizing APIs to download orders and update stocks. Customers are able to print courier labels and integrated labels all with tracking numbers. </p>
                            <p>Once the labels are generated, the tracking number is sent to the platform upon despatching. It is possible to generate the labels in bulk or individually.</p>
                            <p>Also, if one platform requires specific settings, it is possible to set up couriers per platforms.</p>
                            <!--
                            <a class="button button-fill" onclick="setUserPIN('1234')">SET PIN</a><br>
                            <a class="button button-fill" onclick="signinbyPIN('1234')">Signin by PIN</a><br>
                            <a class="button button-fill" href="/orders/">Orders</a>
                            -->
                        </div>
                        <div class="block">
                            <div class="row">
                                <!--
                                <div class="col-50">
                                    <a href="#" class="button logout button-raised button-fill button-large color-red"><i class="icon f7-icons" style="top:-3px; margin-right: 2px">power</i> Logout</a>
                                </div>
                                -->
                                <div class="col">
                                    <a href="/lockscreen/" class="button button-raised button-large button-fill"><i class="icon f7-icons" style="top:-3px">lock</i> Lock screen / switch account</a>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px">
                                <div class="col">
                                    <a onclick="runPrinter('connect')" class="button button-raised button-fill button-large color-green connectTo"><i class="icon f7-icons" style="top:-3px; margin-right: 2px">radiowaves_left</i> Connect to <span style="margin-left:0"></span> Printer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order" style="padding-top:32px">
                        <!--<div class="block-title block-title-medium title"></div>-->
                        <div class="block-title block-title-medium total" style="margin-top: 0; margin-bottom: 0"></div>
                        <div class="block products" style="padding-top: 16px; margin-bottom: 0"></div>
                        <div class="block" style="margin-bottom: 0; margin-top: 16px; clear: both;">
                            <form class="list form-order" style="margin-top:0; margin-bottom: 0">
                            <div class="row">
                                <div class="col-50">
                                    <div class="list no-hairlines-md" style="margin-top: 10px; margin-bottom: 16px;">
                                        <ul>
                                            <li class="item-content item-input">
                                                <div class="item-inner">
                                                    <div class="item-title item-label">Address Line 1</div>
                                                    <div class="item-input-wrap">
                                                        <input type="text" class="address1" placeholder="Address Line 1">
                                                        <span class="input-clear-button"></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-content item-input">
                                                <div class="item-inner">
                                                    <div class="item-title item-label">Address Line 2</div>
                                                    <div class="item-input-wrap">
                                                        <input type="text" class="address2" placeholder="Address Line 2">
                                                        <span class="input-clear-button"></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-content item-input">
                                                <div class="item-inner">
                                                    <div class="item-title item-label">City</div>
                                                    <div class="item-input-wrap">
                                                        <input type="text" class="city" placeholder="City">
                                                        <span class="input-clear-button"></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-content item-input">
                                                <div class="item-inner">
                                                    <div class="item-title item-label">County</div>
                                                    <div class="item-input-wrap">
                                                        <input type="text" class="county" placeholder="County">
                                                        <span class="input-clear-button"></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-content item-input">
                                                <div class="item-inner">
                                                    <div class="item-title item-label">Postcode</div>
                                                    <div class="item-input-wrap">
                                                        <input type="text" class="postcode" placeholder="Postcode">
                                                        <span class="input-clear-button"></span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-50">
                                    <div class="list no-hairlines-md" style="margin-top: 10px; margin-bottom: 16px">
                                        <ul>
                                            <li class="item-content item-input">
                                                <div class="item-inner">
                                                    <div class="item-title item-label">Company</div>
                                                    <div class="item-input-wrap">
                                                        <input type="text" class="company" placeholder="Company">
                                                        <span class="input-clear-button"></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-content item-input">
                                                <div class="item-inner">
                                                    <div class="item-title item-label">Name</div>
                                                    <div class="item-input-wrap">
                                                        <input type="text" class="name" placeholder="Name">
                                                        <span class="input-clear-button"></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-content item-input">
                                                <div class="item-inner">
                                                    <div class="item-title item-label">Phone</div>
                                                    <div class="item-input-wrap">
                                                        <input type="tel" class="phone" placeholder="Phone">
                                                        <span class="input-clear-button"></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item-content item-input">
                                                <div class="item-inner">
                                                    <div class="item-title item-label">Country</div>
                                                    <div class="item-input-wrap input-dropdown-wrap">
                                                        <select class="country" name="country">
                                                            <option value="AF">AFGHANISTAN</option>
                                                            <option value="AX">ÅLAND ISLANDS</option>
                                                            <option value="AL">ALBANIA</option>
                                                            <option value="DZ">ALGERIA</option>
                                                            <option value="AS">AMERICAN SAMOA</option>
                                                            <option value="AD">ANDORRA</option>
                                                            <option value="AO">ANGOLA</option>
                                                            <option value="AI">ANGUILLA</option>
                                                            <option value="AQ">ANTARCTICA</option>
                                                            <option value="AG">ANTIGUA AND BARBUDA</option>
                                                            <option value="AR">ARGENTINA</option>
                                                            <option value="AM">ARMENIA</option>
                                                            <option value="AA">Army Post Office APO/FPO</option>
                                                            <option value="AW">ARUBA</option>
                                                            <option value="AC">ASCENSION ISLAND</option>
                                                            <option value="AU">AUSTRALIA</option>
                                                            <option value="AT">AUSTRIA</option>
                                                            <option value="AZ">AZERBAIJAN</option>
                                                            <option value="BS">BAHAMAS</option>
                                                            <option value="BH">BAHRAIN</option>
                                                            <option value="BD">BANGLADESH</option>
                                                            <option value="BB">BARBADOS</option>
                                                            <option value="BY">BELARUS</option>
                                                            <option value="BE">BELGIUM</option>
                                                            <option value="BZ">BELIZE</option>
                                                            <option value="BJ">BENIN</option>
                                                            <option value="BM">BERMUDA</option>
                                                            <option value="BT">BHUTAN</option>
                                                            <option value="BO">BOLIVIA</option>
                                                            <option value="BQ">BONAIRE, SINT EUSTATIUS AND SABA</option>
                                                            <option value="BA">BOSNIA AND HERZEGOVINA</option>
                                                            <option value="BW">BOTSWANA</option>
                                                            <option value="BV">BOUVET ISLAND</option>
                                                            <option value="BR">BRAZIL</option>
                                                            <option value="IO">BRITISH INDIAN OCEAN TERRITORY</option>
                                                            <option value="VG">BRITISH VIRGIN ISLANDS</option>
                                                            <option value="BN">BRUNEI DARUSSALAM</option>
                                                            <option value="BG">BULGARIA</option>
                                                            <option value="BF">BURKINA FASO</option>
                                                            <option value="BI">BURUNDI</option>
                                                            <option value="KH">CAMBODIA</option>
                                                            <option value="CM">CAMEROON</option>
                                                            <option value="CA">CANADA</option>
                                                            <option value="IC">CANARY ISLANDS</option>
                                                            <option value="CV">CAPE VERDE</option>
                                                            <option value="KY">CAYMAN ISLANDS</option>
                                                            <option value="CF">CENTRAL AFRICAN REPUBLIC</option>
                                                            <option value="EA">CEUTA, MELILLA</option>
                                                            <option value="TD">CHAD</option>
                                                            <option value="CL">CHILE</option>
                                                            <option value="CN">CHINA</option>
                                                            <option value="CX">CHRISTMAS ISLAND</option>
                                                            <option value="CC">COCOS (KEELING) ISLANDS</option>
                                                            <option value="CO">COLOMBIA</option>
                                                            <option value="KM">COMOROS</option>
                                                            <option value="CG">CONGO</option>
                                                            <option value="CK">COOK ISLANDS</option>
                                                            <option value="CR">COSTA RICA</option>
                                                            <option value="CI">CÔTE D'IVOIRE</option>
                                                            <option value="HR">CROATIA</option>
                                                            <option value="CU">CUBA</option>
                                                            <option value="CW">CURACAO</option>
                                                            <option value="CY">CYPRUS</option>
                                                            <option value="CZ">CZECH REPUBLIC</option>
                                                            <option value="KP">DEMOCRATIC PEOPLE'S REPUBLIC OF KOREA</option>
                                                            <option value="DK">DENMARK</option>
                                                            <option value="DJ">DJIBOUTI</option>
                                                            <option value="DM">DOMINICA</option>
                                                            <option value="DO">DOMINICAN REPUBLIC</option>
                                                            <option value="EC">ECUADOR</option>
                                                            <option value="EG">EGYPT</option>
                                                            <option value="SV">EL SALVADOR</option>
                                                            <option value="GQ">EQUATORIAL GUINEA</option>
                                                            <option value="ER">ERITREA</option>
                                                            <option value="EE">ESTONIA</option>
                                                            <option value="ET">ETHIOPIA</option>
                                                            <option value="FK">FALKLAND ISLANDS (MALVINAS)</option>
                                                            <option value="FO">FAROE ISLANDS</option>
                                                            <option value="FM">FEDERATED STATES OF MICRONESIA</option>
                                                            <option value="FJ">FIJI</option>
                                                            <option value="FI">FINLAND</option>
                                                            <option value="FR">FRANCE</option>
                                                            <option value="GF">FRENCH GUIANA</option>
                                                            <option value="PF">FRENCH POLYNESIA</option>
                                                            <option value="TF">FRENCH SOUTHERN TERRITORIES</option>
                                                            <option value="GA">GABON</option>
                                                            <option value="GM">GAMBIA</option>
                                                            <option value="GE">GEORGIA</option>
                                                            <option value="DE">GERMANY</option>
                                                            <option value="GH">GHANA</option>
                                                            <option value="GI">GIBRALTAR</option>
                                                            <option value="GR">GREECE</option>
                                                            <option value="GL">GREENLAND</option>
                                                            <option value="GD">GRENADA</option>
                                                            <option value="GP">GUADELOUPE</option>
                                                            <option value="GU">GUAM</option>
                                                            <option value="GT">GUATEMALA</option>
                                                            <option value="GG">GUERNSEY</option>
                                                            <option value="GN">GUINEA</option>
                                                            <option value="GW">GUINEA-BISSAU</option>
                                                            <option value="GY">GUYANA</option>
                                                            <option value="HT">HAITI</option>
                                                            <option value="HM">HEARD ISLAND AND MCDONALD ISLANDS</option>
                                                            <option value="VA">HOLY SEE (VATICAN CITY STATE)</option>
                                                            <option value="HN">HONDURAS</option>
                                                            <option value="HK">HONG KONG</option>
                                                            <option value="HU">HUNGARY</option>
                                                            <option value="IS">ICELAND</option>
                                                            <option value="IN">INDIA</option>
                                                            <option value="ID">INDONESIA</option>
                                                            <option value="IQ">IRAQ</option>
                                                            <option value="IE">IRELAND</option>
                                                            <option value="IR">ISLAMIC REPUBLIC OF IRAN</option>
                                                            <option value="IM">ISLE OF MAN</option>
                                                            <option value="IL">ISRAEL</option>
                                                            <option value="IT">ITALY</option>
                                                            <option value="JM">JAMAICA</option>
                                                            <option value="JP">JAPAN</option>
                                                            <option value="JE">JERSEY</option>
                                                            <option value="JO">JORDAN</option>
                                                            <option value="KZ">KAZAKHSTAN</option>
                                                            <option value="KE">KENYA</option>
                                                            <option value="KI">KIRIBATI</option>
                                                            <option value="KO">KOSOVO</option>
                                                            <option value="KW">KUWAIT</option>
                                                            <option value="KG">KYRGYZSTAN</option>
                                                            <option value="LA">LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
                                                            <option value="LV">LATVIA</option>
                                                            <option value="LB">LEBANON</option>
                                                            <option value="LS">LESOTHO</option>
                                                            <option value="LR">LIBERIA</option>
                                                            <option value="LY">LIBYAN ARAB JAMAHIRIYA</option>
                                                            <option value="LI">LIECHTENSTEIN</option>
                                                            <option value="LT">LITHUANIA</option>
                                                            <option value="LU">LUXEMBOURG</option>
                                                            <option value="MO">MACAO</option>
                                                            <option value="MG">MADAGASCAR</option>
                                                            <option value="MW">MALAWI</option>
                                                            <option value="MY">MALAYSIA</option>
                                                            <option value="MV">MALDIVES</option>
                                                            <option value="ML">MALI</option>
                                                            <option value="MT">MALTA</option>
                                                            <option value="MH">MARSHALL ISLANDS</option>
                                                            <option value="MQ">MARTINIQUE</option>
                                                            <option value="MR">MAURITANIA</option>
                                                            <option value="MU">MAURITIUS</option>
                                                            <option value="YT">MAYOTTE</option>
                                                            <option value="MX">MEXICO</option>
                                                            <option value="MC">MONACO</option>
                                                            <option value="MN">MONGOLIA</option>
                                                            <option value="ME">MONTENEGRO</option>
                                                            <option value="MS">MONTSERRAT</option>
                                                            <option value="MA">MOROCCO</option>
                                                            <option value="MZ">MOZAMBIQUE</option>
                                                            <option value="MM">MYANMAR</option>
                                                            <option value="NA">NAMIBIA</option>
                                                            <option value="NR">NAURU</option>
                                                            <option value="NP">NEPAL</option>
                                                            <option value="NL">NETHERLANDS</option>
                                                            <option value="AN">NETHERLANDS ANTILLES</option>
                                                            <option value="NC">NEW CALEDONIA</option>
                                                            <option value="NZ">NEW ZEALAND</option>
                                                            <option value="NI">NICARAGUA</option>
                                                            <option value="NE">NIGER</option>
                                                            <option value="NG">NIGERIA</option>
                                                            <option value="NU">NIUE</option>
                                                            <option value="NF">NORFOLK ISLAND</option>
                                                            <option value="MP">NORTHERN MARIANA ISLANDS</option>
                                                            <option value="NO">NORWAY</option>
                                                            <option value="PS">OCCUPIED PALESTINIAN TERRITORY</option>
                                                            <option value="OM">OMAN</option>
                                                            <option value="PK">PAKISTAN</option>
                                                            <option value="PW">PALAU</option>
                                                            <option value="PA">PANAMA</option>
                                                            <option value="PG">PAPUA NEW GUINEA</option>
                                                            <option value="PY">PARAGUAY</option>
                                                            <option value="PE">PERU</option>
                                                            <option value="PH">PHILIPPINES</option>
                                                            <option value="PN">PITCAIRN</option>
                                                            <option value="PL">POLAND</option>
                                                            <option value="PT">PORTUGAL</option>
                                                            <option value="TW">PROVINCE OF CHINA TAIWAN</option>
                                                            <option value="PR">PUERTO RICO</option>
                                                            <option value="QA">QATAR</option>
                                                            <option value="MD">REPUBLIC OF MOLDOVA</option>
                                                            <option value="RE">RÉUNION</option>
                                                            <option value="RO">ROMANIA</option>
                                                            <option value="RU">RUSSIAN FEDERATION</option>
                                                            <option value="RW">RWANDA</option>
                                                            <option value="SH">SAINT HELENA</option>
                                                            <option value="KN">SAINT KITTS AND NEVIS</option>
                                                            <option value="LC">SAINT LUCIA</option>
                                                            <option value="PM">SAINT PIERRE AND MIQUELON</option>
                                                            <option value="VC">SAINT VINCENT AND THE GRENADINES</option>
                                                            <option value="MF">SAINT-MARTIN</option>
                                                            <option value="WS">SAMOA</option>
                                                            <option value="SM">SAN MARINO</option>
                                                            <option value="ST">SAO TOME AND PRINCIPE</option>
                                                            <option value="SA">SAUDI ARABIA</option>
                                                            <option value="SN">SENEGAL</option>
                                                            <option value="RS">SERBIA</option>
                                                            <option value="CS">SERBIA AND MONTENEGRO</option>
                                                            <option value="SC">SEYCHELLES</option>
                                                            <option value="SL">SIERRA LEONE</option>
                                                            <option value="SG">SINGAPORE</option>
                                                            <option value="SX">SINT MAARTEN</option>
                                                            <option value="SK">SLOVAKIA</option>
                                                            <option value="SI">SLOVENIA</option>
                                                            <option value="SB">SOLOMON ISLANDS</option>
                                                            <option value="SO">SOMALIA</option>
                                                            <option value="ZA">SOUTH AFRICA</option>
                                                            <option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
                                                            <option value="KR">SOUTH KOREA</option>
                                                            <option value="SS">SOUTH SUDAN</option>
                                                            <option value="ES">SPAIN</option>
                                                            <option value="LK">SRI LANKA</option>
                                                            <option value="XE">ST EUSTATIUS</option>
                                                            <option value="SD">SUDAN</option>
                                                            <option value="SR">SURINAME</option>
                                                            <option value="SJ">SVALBARD AND JAN MAYEN</option>
                                                            <option value="SZ">SWAZILAND</option>
                                                            <option value="SE">SWEDEN</option>
                                                            <option value="CH">SWITZERLAND</option>
                                                            <option value="SY">SYRIAN ARAB REPUBLIC</option>
                                                            <option value="TJ">TAJIKISTAN</option>
                                                            <option value="TH">THAILAND</option>
                                                            <option value="CD">THE DEMOCRATIC REPUBLIC OF THE CONGO</option>
                                                            <option value="MK">THE FORMER YUGOSLAV REPUBLIC OF MACEDONIA</option>
                                                            <option value="TL">TIMOR-LESTE</option>
                                                            <option value="TG">TOGO</option>
                                                            <option value="TK">TOKELAU</option>
                                                            <option value="TO">TONGA</option>
                                                            <option value="TT">TRINIDAD AND TOBAGO</option>
                                                            <option value="TA">TRISTAN DA CUNHA</option>
                                                            <option value="TN">TUNISIA</option>
                                                            <option value="TR">TURKEY</option>
                                                            <option value="TM">TURKMENISTAN</option>
                                                            <option value="TC">TURKS AND CAICOS ISLANDS</option>
                                                            <option value="TV">TUVALU</option>
                                                            <option value="VI">U.S. VIRGIN ISLANDS</option>
                                                            <option value="UG">UGANDA</option>
                                                            <option value="UA">UKRAINE</option>
                                                            <option value="AE">UNITED ARAB EMIRATES</option>
                                                            <option value="GB">UNITED KINGDOM</option>
                                                            <option value="TZ">UNITED REPUBLIC OF TANZANIA</option>
                                                            <option value="US">UNITED STATES</option>
                                                            <option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</option>
                                                            <option value="UY">URUGUAY</option>
                                                            <option value="UZ">UZBEKISTAN</option>
                                                            <option value="VU">VANUATU</option>
                                                            <option value="VE">VENEZUELA</option>
                                                            <option value="VN">VIET NAM</option>
                                                            <option value="WF">WALLIS AND FUTUNA</option>
                                                            <option value="EH">WESTERN SAHARA</option>
                                                            <option value="YE">YEMEN</option>
                                                            <option value="ZM">ZAMBIA</option>
                                                            <option value="ZW">ZIMBABWE</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <button id="edit-address" style="margin-top:22px" class="col button button-fill button-raised color-blue">Edit Address</button>
                                            </li>
                                            <!--
                                            <li class="item-content item-input">
                                                <div class="item-inner">
                                                    <div class="item-title item-label">Fax</div>
                                                    <div class="item-input-wrap">
                                                        <input type="tel" class="fax" placeholder="Fax">
                                                        <span class="input-clear-button"></span>
                                                    </div>
                                                </div>
                                            </li>
                                        -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="block label-button" style="margin-bottom: 10px; margin-top: 0"></div>
                        <div class="block actions row" style="margin-top: 0; padding-top:0px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="thumb-popup">
        <div class="view">
            <div class="page">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="left"></div>
                        <div class="title">Label</div>
                        <div class="right">
                            <a href="#" class="link icon-only popup-close"><i class="icon f7-icons">xmark_circle</i></a>
                        </div>
                    </div>
                </div>
                <div class="page-content"></div>
            </div>
        </div>
    </div>
    <div class="popup" id="label-popup">
        <div class="view">
            <div class="page">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="left hide">
                            <span style="margin-left: 16px">Label:</span>
                            <a href="#" onclick="printLabel()" id="print" style="height: 36px; margin-left:12px; margin-right: 12px" class="link button button-fill"><i class="icon f7-icons" style="margin-right: 5px">printer</i> Print</a>
                            <div class="stepper stepper-raised stepper-init stepper-fill">
                                <div class="stepper-button-minus"></div>
                                <div class="stepper-input-wrap" style="background: #fff">  
                                    <input type="text" value="1" min="1" max="4" step="1" readonly>
                                </div>
                                <div class="stepper-button-plus"></div>
                            </div>
                            <div style="height:36px; width: 1px; background:rgba(255,255,255,0.5); display: block; float:left; margin:0 12px;"></div>
                            <!--
                            <a href="#" id="printpdf" style="height: 40px; margin-left:16px; margin-right: 12px" class="link button button-fill"><i class="icon f7-icons" style="margin-right: 5px">printer</i> Print</a>
                            -->
                            <a href="#" onclick="markAsDespatched()" style="height: 36px;" class="link button button-fill color-orange"><i class="icon f7-icons" style="margin-right: 5px">rocket</i> Despatch</a>
                        </div>
                        <div class="title"></div>
                        <div class="right">
                            <a href="#" class="link icon-only popup-close"><i class="icon f7-icons">xmark_circle</i></a>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="block" style="margin:0; text-align:center; height: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>