<div class="page no-swipeback" data-name="lockscreen">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
            <div class="title">Lockscreen</div>
        </div>
    </div>
    <div class="page-content login-screen-content">
        <div class="block">
            <div class="col-50">
                <br><br>
                <div class="block-title block-title-medium" style="text-align: center; font-size:16px">Enter the PIN code to unlock the device</div>
                <a href="/passcode/" style="width: 50%; margin: 0 auto" class="button button-raised button-fill color-green">Enter PIN Code</a>
            </div>
           <br><br>
        </div>
        <div class="block">
            <div class="col-50">
                <div class="block-title block-title-medium" style="text-align: center; font-size: 16px">New users must login to create a PIN Code</div>
                <a data-login-screen=".new-login-screen" style="width: 50%; margin: 0 auto" class="login-screen-open button button-raised button-fill">Create PIN Code</a>
            </div>
        </div>
    </div>
</div>