<div class="page" data-name="dashboard">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <!--
            <div class="left">
                <a href="#" class="link back"><i class="icon icon-back"></i><span class="ios-only">Back</span></a>
            </div>
            -->
            <div class="title">Offline</div>
        </div>
    </div>
    <div class="page-content">
        <!--
        <div class="block block-strong">
            <p>Sorry</p>
            <p>Please wait for connection or turn on the network</p>
        </div>
        -->
    </div>
</div>