<div class="page" data-name="orders">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <!--
            <div class="left">
              <a href="#" class="link back">
                <i class="icon icon-back"></i>
                <span class="ios-only">Back</span>
              </a>
            </div>
            -->
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
            <div class="title">Orders</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet suscipit sem, vel commodo risus. Morbi scelerisque aliquam interdum. Suspendisse quis risus tempus, ultricies nisl non, aliquam augue.</p>
        </div>
        <div class="data-table data-table-init card">
            <div class="card-header">
                <!--
              <div class="data-table-links"><a class="button">Add</a><a class="button">Remove</a></div>
              -->
                <div class="data-table-header">
                    <div class="data-table-title">Latest Orders</div>
                </div>
                <div class="data-table-actions">
                    <a class="link icon-only"><i class="icon material-icons">sort</i></a><a class="link icon-only"><i class="icon material-icons">more_vert</i></a>
                </div>
            </div>
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th class="checkbox-cell">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <i class="icon-checkbox"></i>
                                </label>
                            </th>
                            <th class="label-cell">Order</th>
                            <th class="label-cell sortable-cell sortable-cell-active sortable-asc" style="text-align: left">Invoice</th>
                            <th class="numeric-cell" style="text-align: left">SKU</th>
                            <th class="numeric-cell" style="text-align: left">QTY</th>
                            <th class="tablet-only"><i class="icon material-icons">message</i> Product Title</th>
                            <th class="numeric-cell" style="text-align: left">Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="checkbox-cell">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <i class="icon-checkbox"></i>
                                </label>
                            </td>
                            <td class="label-cell">ORD0000002446<br>27/08/2019 14:07</td>
                            <td class="label-cell" style="text-align: left">INV0000002422<br>27/08/2019 14:07</td>
                            <td class="numeric-cell" style="text-align: left">CCB8D9D147BAA4945</td>
                            <td class="numeric-cell" style="text-align: left">1</td>
                            <td class="tablet-only">Maserati Bora 70'S Car Model 1/43Rd Scale Yellow Colour Example Italy T...</td>
                            <td class="numeric-cell" style="text-align: left">&pound;0.00</td>
                            <td class="actions-cell"><a class="link icon-only"><i class="icon material-icons">edit</i></a><a class="link icon-only"><i class="icon material-icons">delete</i></a></td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <i class="icon-checkbox"></i>
                                </label>
                            </td>
                            <td class="label-cell">ORD0000002445<br>27/08/2019 13:00</td>
                            <td class="label-cell" style="text-align: left">INV0000002421<br>27/08/2019 13:00</td>
                            <td class="numeric-cell" style="text-align: left">ADNIRVA-001</td>
                            <td class="numeric-cell" style="text-align: left">1</td>
                            <td class="tablet-only">Aroma Diffuser Nirvana</td>
                            <td class="numeric-cell" style="text-align: left">&pound;2.79</td>
                            <td class="actions-cell"><a class="link icon-only"><i class="icon material-icons">edit</i></a><a class="link icon-only"><i class="icon material-icons">delete</i></a></td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <i class="icon-checkbox"></i>
                                </label>
                            </td>
                            <td class="label-cell">ORD0000002444<br>27/08/2019 13:00</td>
                            <td class="label-cell" style="text-align: left">INV0000002420<br>27/08/2019 13:00</td>
                            <td class="numeric-cell" style="text-align: left">ADNIRVA-001</td>
                            <td class="numeric-cell" style="text-align: left">1</td>
                            <td class="tablet-only">Aroma Diffuser Nirvana</td>
                            <td class="numeric-cell" style="text-align: left">&pound;3.35</td>
                            <td class="actions-cell"><a class="link icon-only"><i class="icon material-icons">edit</i></a><a class="link icon-only"><i class="icon material-icons">delete</i></a></td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <i class="icon-checkbox"></i>
                                </label>
                            </td>
                            <td class="label-cell">ORD0000002443<br>27/08/2019 13:00</td>
                            <td class="label-cell" style="text-align: left">INV0000002419<br>27/08/2019 13:00</td>
                            <td class="numeric-cell" style="text-align: left">ADNIRVA-001</td>
                            <td class="numeric-cell" style="text-align: left">1</td>
                            <td class="tablet-only">Aroma Diffuser Nirvana</td>
                            <td class="numeric-cell" style="text-align: left">&pound;4.02</td>
                            <td class="actions-cell"><a class="link icon-only"><i class="icon material-icons">edit</i></a><a class="link icon-only"><i class="icon material-icons">delete</i></a></td>
                        </tr>
                        <tr>
                            <td class="checkbox-cell">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <i class="icon-checkbox"></i>
                                </label>
                            </td>
                            <td class="label-cell">ORD0000002442<br>27/08/2019 13:00</td>
                            <td class="label-cell" style="text-align: left">INV0000002418<br>27/08/2019 13:00</td>
                            <td class="numeric-cell" style="text-align: left">ADNIRVA-001</td>
                            <td class="numeric-cell" style="text-align: left">1</td>
                            <td class="tablet-only">Aroma Diffuser Nirvana</td>
                            <td class="numeric-cell" style="text-align: left">&pound;4.82</td>
                            <td class="actions-cell"><a class="link icon-only"><i class="icon material-icons">edit</i></a><a class="link icon-only"><i class="icon material-icons">delete</i></a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="data-table-footer">
                    <div class="data-table-rows-select">
                        Rows per page:
                        <div class="input input-dropdown input-with-value">
                            <select class="input-with-value">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="all">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="data-table-pagination">
                        <span class="data-table-pagination-label">1-5 of 10</span>
                        <a href="#" class="link disabled"><i class="icon icon-prev color-gray"></i></a>
                        <a href="#" class="link"><i class="icon icon-next color-gray"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Popup 
    <div class="popup" id="my-popup">
        <div class="view">
            <div class="page">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="left">
                            <a href="#" class="link icon-only popup-close"><i class="icon f7-icons">close_round</i></a>
                        </div>
                        <div class="title">Order</div>
                        <div class="right">
                            <a href="#" id="print" class="link"><i class="icon f7-icons">paper_plane</i> Print</a>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="block"></div>
                </div>
            </div>
        </div>
    </div>
    -->
</div>