<div class="page no-swipeback" data-name="pin">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="right">
                <a onclick="logout()" class="link"><i class="icon f7-icons" style="margin-right: 5px">power</i>Logout</a>
            </div>
        </div>
    </div>
    <div class="page-content login-screen-content">
        <div class="login-screen-title">Create Pin Code</div>
        <form>
            <div class="block passcode-input">
                <input type="text" value="____" id="demo-numpad-inline">
            </div>
            <div class="block block-strong no-padding no-margin passcode-numpad">
                <div id="numpad-inline-container"></div>
            </div>
        </form>
    </div>
</div>