<div class="page" data-name="settings">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <!--
            <div class="left">
                <a href="#" class="link back"><i class="icon icon-back"></i><span class="ios-only">Back</span></a>
            </div>
            -->
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
            <div class="title">Settings</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title block-title-medium">Account Profile</div>
        <form class="list form-store-data" id="account">
            <div class="row">
                <ul style="width: 100%; padding-top:0"></ul>
                <ul class="col-50">
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">First Name</div>
                            <div class="item-input-wrap">
                                <input name="first-name" type="text" disabled placeholder="First name" class="profile-first-name">
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Pin Code</div>
                            <div class="item-input-wrap">
                                <input name="first-name" type="password" disabled value="1234" class="PinCode">

                            </div>
                        </div>
                    </li>
                    <a href="/changepin/" style="margin:21px 16px 0;" class="button button-raised button-fill">Change Pin Code</a>
                </ul>
                <ul class="col-50">
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Last Name</div>
                            <div class="item-input-wrap">
                                <input name="last-name" type="text" disabled placeholder="Last name" class="profile-last-name">
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">E-mail</div>
                            <div class="item-input-wrap">
                                <input name="email" type="email" disabled placeholder="Your e-mail" validate required class="profile-email">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </form>
        <div class="block-title block-title-medium">Printer Setup</div>
        <form class="list form-store-data" id="printer-setup" style="margin-bottom: 15px">
            <div class="row">
                <ul style="width: 100%; padding-top:0"></ul>
                <ul class="col-50">
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Select printer</div>
                            <div class="item-input-wrap input-dropdown-wrap">
                                <select id="printer">
                                    <option value="zebra">Zebra</option>
                                    <option value="cls521">Citizen CL-S521</option>
                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="col-50">
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label" style="line-height: 16px">Printer IP</div>
                            <div class="item-input-wrap">
                                <input name="ip" type="text" placeholder="0.0.0.0" class="defaultIP" minlength="7" maxlength="20" size="20" validate required pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
        <div class="block" style="margin-top: 0">
            <div class="row">
                <div class="col-50" style="padding-right: 16px">
                    <a onclick="runPrinter('connect')" class="button button-raised button-fill color-green connectPrinter">Connect <span></span> Printer</a>
                    <!--
                    <a href="#" onclick="runPrinter('status')" style="margin-top:10px" class="button button-raised button-fill printerStatus">Printer Status</a>
                    <a onclick="runPrinter('testprint')" style="margin-top:10px" class="button button-raised button-fill color-orange sendZebraTestLabel">Send Zebra Test Label</a>
                -->
                </div>
                <div class="col-50" style="padding-left: 16px">
                    <a id="label-edit" class="button button-raised button-fill">Label Editor (beta)</a>
                    <!--
                    <a onclick="runPrinter('disconnect')" style="margin-top:10px"  class="button button-raised button-fill color-red disconnectPrinter">Disconnect Printer</a>
                -->
                </div>
            </div>
        </div>
        <div class="block-title block-title-medium">Timeout</div>
        <form class="list form-timeout">
            <div class="row">
                <ul class="col-50">
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Time in minutes</div>
                            <div class="item-input-wrap">
                                <input name="timeout" type="number" min="1" max="60" value="5" class="timeout">
                                <!--<span class="input-clear-button"></span>-->
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="col-50" style="padding-left: 16px; padding-right: 16px; padding-top:22px">
                    <a id="set-timeout" class="button button-raised button-fill">Set time</a>
                </div>
            </div>
        </form>
        <div class="block-title block-title-medium">Store Profile</div>
        <form class="list form-store-data" id="profile">
            <div class="row">
                <ul style="width: 100%; padding-top:0"></ul>
                <ul class="col-50">
                    <!--
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">First Name</div>
                            <div class="item-input-wrap">
                                <input name="first-name" type="text" disabled placeholder="First name" class="profile-first-name">
                         
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Last Name</div>
                            <div class="item-input-wrap">
                                <input name="last-name" type="text" disabled placeholder="Last name" class="profile-last-name">
                   
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">E-mail</div>
                            <div class="item-input-wrap">
                                <input name="email" type="email" disabled placeholder="Your e-mail" validate required class="profile-email">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    -->
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Company Name</div>
                            <div class="item-input-wrap">
                                <input name="company-name" type="text" disabled placeholder="Company Name" class="profile-company-name">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Phone</div>
                            <div class="item-input-wrap">
                                <input name="phone" type="tel" disabled placeholder="Phone" class="profile-phone">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Registration Number</div>
                            <div class="item-input-wrap">
                                <input name="registration-number" type="text" disabled placeholder="Registration Number" class="profile-registration-number">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">VAT Number</div>
                            <div class="item-input-wrap">
                                <input name="vat-number" type="text" disabled placeholder="VAT Number" class="profile-vat-number">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Postcode</div>
                            <div class="item-input-wrap">
                                <input name="postcode" type="text" disabled placeholder="Postcode" class="profile-postcode">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Website URL</div>
                            <div class="item-input-wrap">
                                <input name="website-url" type="url" disabled placeholder="Website URL" class="profile-website-url">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="col-50">
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Address Line 1</div>
                            <div class="item-input-wrap">
                                <input name="address-line1" type="text" disabled placeholder="Address Line 1" class="profile-address-line1">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Address Line 2</div>
                            <div class="item-input-wrap">
                                <input name="address-line2" type="text" disabled placeholder="Address Line 2" class="profile-address-line2">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Address Line 3</div>
                            <div class="item-input-wrap">
                                <input name="address-line3" type="text" disabled placeholder="Address Line 3" class="profile-address-line3">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">County</div>
                            <div class="item-input-wrap">
                                <input name="county" type="text" disabled placeholder="County" class="profile-county">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Country</div>
                            <div class="item-input-wrap">
                                <input name="country" type="text" disabled placeholder="Country" class="profile-country">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
        <!--
        <div class="block">
            <a href="#" onclick="updateProfile()" class="button button-raised button-fill updateSettings">Update Profile</a>
        </div>
        -->
    </div>
    </div>
</div>