#drag button {position: absolute; z-index: 2; width: 50px; line-height: 50px; height: 50px; }
#drag .up {top:80px; margin-left:-25px; left:50%;}
#drag .down {bottom:15px; margin-left:-25px; left:50%;}
#drag .left {left:15px; top:50%; margin-top: -25px}
#drag .right {right:15px; top:50%; margin-top: -25px}
#drag .holder {overflow:hidden; width:800px; height:600px; display:block; border:2px #ccc solid; margin:auto; left:0; top:0; right:0; bottom:0; position:absolute}
#drag .holder .lbl {width:624px; height:416px; background:#999; display:block; position:absolute; margin:-208px 0 0; left:50px; top:50%;}

.label-button button {margin-top: 10px}
.label-button .row button:first-child {width:46%}

.page[data-name="lockscreen"] .navbar .left,
.page[data-name="dashboard"] .navbar .left {background:#08A86F}
.page[data-name="lockscreen"] .navbar,
.page[data-name="dashboard"] .navbar {background:#1FBF86 /*rgba(24,186,129,0.5);*/}
.page[data-name="dashboard"] .navbar .title {color:#fff;}
.page[data-name="dashboard"] .navbar .right p {color:#fff; font-size:90%; margin-right: 24px; font-weight: 500}

.picker-item {text-align:center}

ul.product {padding:0; display:block; list-style:none; margin:0; clear:both;}
ul.product:after {content: ''; clear: both; display: table}
ul.product li.thumb {width:70px; height:70px; margin:0 20px 10px 0; position:relative; border:1px rgba(0,0,0,0.2) solid; float:left; box-shadow:0px 1px 2px rgba(0,0,0,0.2);}
ul.product li.thumb img {margin:auto; left:0; top:0; right:0; bottom:0; position:absolute; max-width:100%; max-height:100%; display:block}
ul.product li.thumb span {font-size:13px; box-shadow:0px 1px 2px rgba(0,0,0,0.2); border-radius:50%; width:20px; height:20px; position:absolute; right:-10px; top:-10px; margin:0; padding:0; line-height:20px; text-align:center;}

#thumb-popup img {max-height: 100%; max-width: 100%; display: block; margin:0 auto; width: auto; height: auto;}

.hide {display: none !important}

.picker .toolbar-inner {background: #08A86F}
.picker .toolbar-inner a {color:#fff;}

.keypad-button-letters {display: none}

.form-store-data ul {padding-top: 20px;}
.smart-select-page .list ul:before,
.smart-select-page .list ul:after,
.list ul.noBorderTop:before,
#account ul.col-50:before,
.form-timeout ul:after,
#printer-setup ul.col-50:before,
#profile ul.col-50:before,
.links-list li.hide,
.form-store-data ul:after {display: none}
.user {text-align: center;}
.user i {font-size: 50px;}
.blur {background: #fff;opacity: 0.5;filter: blur(5px);-webkit-filter: blur(5px);-moz-filter: blur(5px);-o-filter: blur(5px);-ms-filter: blur(5px);filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='5' /></filter></svg>#svgMask");}
#blobLabel {max-height: 100%; max-width: 100%; margin:0 auto; display: block; padding:0; border:0;}
#clear {-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);box-shadow: 0px 1px 2px rgba(0,0,0,0.2);}

/* passcode */
.keypad-button {/*height: 50%*/}
.keypad-inline {height:300px}
.block.passcode-input {position: relative;z-index: 5;}
.block.passcode-numpad {position: absolute;left: 0;bottom: 0;right: 0;margin-bottom: 0;max-width: none;z-index: 10;}
html.device-iphone-x .page[data-name="passcode"] .page-content {border-bottom: 22px #ddd solid}
html.device-iphone-x .page[data-name="passcode"] .block-strong:after {display: none;}
#demo-numpad-inline {color: #000; font-family: inherit; letter-spacing: 5px; text-align: center; font-size: 50px; font-weight: 300; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; .border-box();border: none; background: none; border-radius: 0 0 0 0; .box-shadow(none);display: block; padding: 0; margin: 0; width: 100%; }

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint:before {position: absolute; right: 0;top: 0;height: 100%;width: 1px;background: rgba(0,0,0,0.1);content: '';z-index: 6000;}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] { display: none;}

/* Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size) */
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {position: absolute;left: 0;top: 0;height: 100%;width: 1px;background: rgba(0,0,0,0.1);content: '';z-index: 6000;}

/*
.keypad-buttons {border-left:1px #DDDDDE solid; border-right: 1px #DDDDDE solid}
.keypad-button-letters {display: none}
.order-input input {width: 100%; font-size: 24px; text-align: center;}
*/

#order {display: none}
#order button:disabled,
#order button[disabled] {background:grey;}
#order .list .item-content {padding-left: 0;}
#my-popup img {max-width: 100%; max-height:100%;}
#keypad {margin: 0; padding:0; display:block; width: 100%;}
#keypad:after {content: ''; clear: both; display: table;}
input.keypad {width:100%; margin:0 0 20px 0; height: 70px; line-height: 70px; font-size: 30px; padding:0; text-align: center; border:1px rgba(0,0,0,0.2) solid;-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);box-shadow: 0px 1px 2px rgba(0,0,0,0.2);}
.keypad .btn1,
.keypad .btn2,
.keypad .btn4,
.keypad .btn5,
.keypad .btn7,
.keypad .btn8 {border-right:0; border-bottom: 0}
.keypad .btn3,
.keypad .btn6,
.keypad .btn9 {border-bottom: 0}
.keypad .scan,
.keypad .btn0 {border-right:0;}
.keypad button {margin: 0 ;width: 33.333%;height: 80px; padding: 0;background: #eee;border: 1px solid rgba(0,0,0,0.2);border-radius: 0;font-size: 2.5em;color:rgba(0,0,0,0.7);outline: none;display: block;float:left;line-height: normal;-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);box-shadow: 0px 1px 2px rgba(0,0,0,0.2);background: #ffffff; background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));}
.keypad button i {position: relative; top:-10px; font-size:20px}
.keypad button span {display:block; text-align: center; position: relative; bottom:-2px; font-size: 14px;}
.keypad button.delete,
.keypad button.scan {line-height:0}
.keypad button.delete {color:#fff;background: #ffffff; background: -moz-linear-gradient(top, rgba(255,59,48,0.5) 0%, #FF3B30 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,59,48,0.5)), color-stop(100%,#FF3B30));}
.keypad button.scan {background: #ffffff;background: -moz-linear-gradient(top, rgba(0,122,255,0.5) 0%, #007AFF 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,122,255,0.5)), color-stop(100%,#007AFF));color: #fff;}

#keyboard {position: relative; width: 100%; display: block; margin:0; padding:0;}
#keyboard #trick {position: absolute; left:0; top:0; width: 100%; display: block; margin:0; padding:0; height: 100%; background: transparent; z-index: 2}
